# 1. Variables

In programming, variables are used to store data values. Computations are performed on varialbes.

## 1.1 Creating

A variable is created the first time you assign a value to it.

In [80]:
# Three examles
n = 3

a, b, c = 5, 3.2, "Hello"

x = y = z = "same"

print(a, b, c)

5 3.2 Hello

## 1.2 Dynamic Typing

- One of the important features of Python is that it is a **dynamically-typed language**. 


- Programming languages such as C, C++, Java, and C# are statically-typed languages.
    1. We must explicitly declare the data type of a variable before we use it.
    2. We can not change the data type of a variable.

In Python, the data assigned to a variable decides its data type.

In [6]:
a = 3
print(a, type(a))

a = 'apple'
print(a, type(a))

3 <class 'int'>
apple <class 'str'>

## 1.3 Scope

A variable is only available from inside the region it is created. This is called scope.

### 1.3.1 Local Scope

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

In [67]:
def myfunc():
  data = 300
  print(data)

myfunc()

# This is wrong for the variable data could only be used inside myfunc().
print(data)

300

NameError: name 'data' is not defined

In [68]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

### 1.3.1 Global Scope

Variables that are created outside of a function are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [18]:
x = "awesome"

def myfunc():
  print("Python is %s." % x)

myfunc()

Python is awesome.

**Global Keyword**

If you need to create a global variable, but are stuck in the local scope, you can use the `global` keyword.

The `global` keyword makes the variable global.

In [81]:
def myfunc():
  global x
  x = "fantastic"
  global y
  y = 3

myfunc()

print("Python is %s." % x)
print("y is %d" % y)

Python is fantastic.
y is 3

# 2. Data Types

Every variable or value in Python has a data type. 

**In Python, all data types are actually classes** and variables are instances (objects) of these classes.

## 2.1 Built-in Types

There are various built-in data types in Python as listed below.

- Numeric Types:	`int`, `float`, `complex`
- Sequence Types:	`str`, `list`, `tuple`, `range`
- Mapping Type:	`dict`
- Set Types:	`set`, `frozenset`
- Boolean Type:	`bool`
- Binary Types:	`bytes`, `bytearray`, `memoryview`

### 2.1.1 Numeric Types

#### 1. `int`

Integers can be of any length, it is only limited by the memory available.

This means that python supports **arbitrarily large integers** naturally.

The reason is that when a integer exceeds the boundaries of 32-bit, it will be automatically (and transparently) converted to a [bignum](https://www.python.org/dev/peps/pep-0237/).

In [27]:
a = 2343295429572452752405324967324907324963240632496324890124905223152135709132750312752
print(a, type(a))

2343295429572452752405324967324907324963240632496324890124905223152135709132750312752 <class 'int'>

#### 2. `float`

A floating-point number has **limited 15â€“17 digits of precision**.

Integers and floating points are separated by decimal points. 1 is an integer, 1.0 is a floating-point number.

In [82]:
f = 8 / 9
print(f, type(f))

a = 5237235927521357125931257352550243245.23523535
print(a)

0.8888888888888888 <class 'float'>
5.237235927521357e+36

Float can also be scientific numbers with an "e" or "E" to indicate the power (exponent) of 10.

In [33]:
x = 35e3 # 35 * (10**3)
y = 12E4
z = -87.7e100

print(x, type(x))
print(y, type(y))
print(z, type(z))

35000.0 <class 'float'>
120000.0 <class 'float'>
-8.77e+101 <class 'float'>

#### 3. `complex`

Complex numbers are written in the form, `x + yj`, where `x` is the real part and `y` is the imaginary part.

In [71]:
x = 3+5j
y = 5j
z = -x

print(x, type(x))
print(y, type(y))
print(z, type(z))

# The square of j is -1
n = 1j
print(n*n)

(3+5j) <class 'complex'>
5j <class 'complex'>
(-3-5j) <class 'complex'>
(-1+0j)

### 2.1.2 Sequence Types

#### 1.` str`

Strings in python are surrounded by either single quotation marks ('), or double quotation marks (").

In [41]:
# Four basic ways to create a string
s1 = 'String'

s2 = "String"

s3 = '''
Strings can be created 
by enclosing characters 
inside a single quote or double-quotes.
'''

s4 = """
Strings can be created 
by enclosing characters 
inside a single quote or double-quotes.
"""

print(s1)
print(s2)
print(s3)
print(s4)

String
String

Strings can be created
by enclosing characters
inside a single quote or double-quotes.


Strings can be created
by enclosing characters
inside a single quote or double-quotes.

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

Here are  escape characters used in Python.

Code | Result
:---|:--------
\\' | Single Quote 
\\" | Double Quote 
\\\ | Backslash
\n | New Line
\r | Carriage Return
\t | Tab
\b | Backspace
\f | Form Feed
\ooo | Octal value
\xhh | Hex value

In [86]:
print('It\'s alright.\n') 

print("This will insert one \\ (backslash).\n") 

print('I want to change line \n here.')

It's alright.

This will insert one \ (backslash).

I want to change line
 here.

**String Methods**

Python has a set of built-in methods that you can use on strings.

All string methods returns new values. They do not change the original string.

Method | Description
:------|:-----------
capitalize() | Converts the first character to upper case
casefold() | Converts string into lower case
center() | Returns a centered string
count() | Returns the number of times a specified value occurs in a string
encode() | Returns an encoded version of the string
endswith() | Returns true if the string ends with the specified value
expandtabs() | Sets the tab size of the string
find() | Searches the string for a specified value and returns the position of where it was found
format() | Formats specified values in a string
format_map() | Formats specified values in a string
index() | Searches the string for a specified value and returns the position of where it was found
isalnum() | Returns True if all characters in the string are alphanumeric
isalpha() | Returns True if all characters in the string are in the alphabet
isdecimal() | Returns True if all characters in the string are decimals
isdigit() | Returns True if all characters in the string are digits
isidentifier() | Returns True if the string is an identifier
islower() | Returns True if all characters in the string are lower case
isnumeric() | Returns True if all characters in the string are numeric
isprintable() | Returns True if all characters in the string are printable
isspace() | Returns True if all characters in the string are whitespaces
istitle() | Returns True if the string follows the rules of a title
isupper() | Returns True if all characters in the string are upper case
join() | Joins the elements of an iterable to the end of the string
ljust() | Returns a left justified version of the string
lower() | Converts a string into lower case
lstrip() | Returns a left trim version of the string
maketrans() | Returns a translation table to be used in translations
partition() | Returns a tuple where the string is parted into three parts
replace() | Returns a string where a specified value is replaced with a specified value
rfind() | Searches the string for a specified value and returns the last position of where it was found
rindex() | Searches the string for a specified value and returns the last position of where it was found
rjust() | Returns a right justified version of the string
rpartition() | Returns a tuple where the string is parted into three parts
rsplit() | Splits the string at the specified separator, and returns a list
rstrip() | Returns a right trim version of the string
split() | Splits the string at the specified separator, and returns a list
splitlines() | Splits the string at line breaks and returns a list
startswith() | Returns true if the string starts with the specified value
strip() | Returns a trimmed version of the string
swapcase() | Swaps cases, lower case becomes upper case and vice versa
title() | Converts the first character of each word to upper case
translate() | Returns a translated string
upper() | Converts a string into upper case
zfill() | Fills the string with a specified number of 0 values at the beginning

In [101]:
s = "String 'Python' in Python language."

print(s.lower())
print(s.upper())
print("Python appears {} times in this string.\n".format(s.count('Python')))

print('424325325252525'.isdigit())
print('34325325'.isnumeric())
print('abcABC'.isdigit())
print('abcABC'.isalpha())

print('\n')
s1 = 'red, blue, green, black, white'
for item in s1.split(', '):
    print(item)

string 'python' in python language.
STRING 'PYTHON' IN PYTHON LANGUAGE.
Python appears 2 times in this string.

True
True
False
True


red
blue
green
black
white

**Indexing**

Remember that the first character has the position 0.

In [103]:
name = 'Kim'
print(name[2])

m

**Slicing**

Slicing specify the start index and the end index of the wanted sub-string, separated by a colon, to return a part of the string.

The character at the end index is **not included**.

Negative Indexing: Use negative indexes to start the slice from the end of the string.

In [90]:
# Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

# Get the characters from position 5 to position 1 (not included), 
# starting the count from the end of the string:
b = "Hello, World!"
print(b[-8:-2])

llo
, Worl

**Concatenation**

In [91]:
a = "Apple"
b = "fruits"
c = a + " belongs to " + b + "."

print(c)

Apple belongs to fruits.

**Length**

In [66]:
print(len('hello'))

5

#### 2. `list`

List is a collection which is **ordered** and **changeable**. **Allows duplicate members**.

Elements are separated by commas and enclosed by **square brackets**.

In [5]:
a = [2,4,3,3,3,1]
print(a)

a[0] = 100
print(a)

[2, 4, 3, 3, 3, 1]
[100, 4, 3, 3, 3, 1]

**The `list()` Constructor**

In [117]:
# from a tuple
eles = ("apple", "banana", "cherry", "apple", "cherry") # tuple
list1 = list(eles)
print(list1)

# from a range
list2 = list(range(10))
print(list2)

# from a set
my_set = {3, 2, 4, 2, 3}
list3 = list(my_set)
print(list3)

['apple', 'banana', 'cherry', 'apple', 'cherry']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]

Elements inside a list are not required to have same data types.

In [1]:
a = [1, 2.0, True, 'hello', [1, 2.0, True, 'hello']]
print(a)

[1, 2.0, True, 'hello', [1, 2.0, True, 'hello']]

**Indexing \& Slicing**

Same as the usages for `str` data type.

In [4]:
a = [1, 2, 3, 4, 5, 6]

print(a[2])
print(a[-2])

print(a[3:])
print(a[-5:-2])
print(a[:-2])

3
5
[4, 5, 6]
[2, 3, 4]
[1, 2, 3, 4]

**Iterating**

In [7]:
my_list = [1, 2, 3, 4]
for x in my_list:
    print(x)

1
2
3
4

**Add Items**

- The `append()` method add an element at the end of a list.
- The `insert()` method add an element at the specific index of a list.

In [119]:
my_list = ['red', 'blue', 'green']

my_list.append('white')
print(my_list)

my_list.insert(2, 'yellow') # insert an element at the index of 2
print(my_list)

['red', 'blue', 'green', 'white']
['red', 'blue', 'yellow', 'green', 'white']

**Delete Items**

- The `remove()` method removes the specified item.
- The `pop()` method removes the specified index, (or the last item if index is not specified).
- The `del` keyword removes the specified index.
- The `clear()` mythod empties the list.

In [121]:
my_list = ['red', 'blue', 'yellow', 'green', 'white', 'black']

my_list.remove('yellow')
print(my_list)
my_list.pop()
print(my_list)
my_list.pop(0)
print(my_list)
del my_list[1]
print(my_list)

my_list.clear()
print(my_list)

['red', 'blue', 'green', 'white', 'black']
['red', 'blue', 'green', 'white']
['blue', 'green', 'white']
['blue', 'white']
[]

**Join or Concat lists**

- Use `+` operator.
- By `extend()` method.
- Through iterative appending.

In [123]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a+b
print(c)

a.extend(b)
print(a)

for x in b:
    a.append(x)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]

**Built-in Methods**

Method | Description
:------|:-----------
append() | Adds an element at the end of the list
clear() | Removes all the elements from the list
copy() | Returns a copy of the list
count() | Returns the number of elements with the specified value
extend() | Add the elements of a list (or any iterable), to the end of the current list
index() | Returns the index of the first element with the specified value
insert() | Adds an element at the specified position
pop() | Removes the element at the specified position
remove() | Removes the item with the specified value
reverse() | Reverses the order of the list
sort() | Sorts the list

In [23]:
a = [1,2,3,4,5]
a.reverse()
print(a)

b = [3,4,6,6,2,1,10]
b.sort()
print(b)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 6, 6, 10]

In [126]:
b = [3,4,6,6,2,1,10]
c = sorted(b, reverse=True)
print(b)
print(c)

[3, 4, 6, 6, 2, 1, 10]
[10, 6, 6, 4, 3, 2, 1]

#### 3. `tuple`

Tuple is a collection which is **ordered** and **unchangeable. Allows duplicate members**.

Elements are seperated by commas and enclosed by **round brackets**.

In [31]:
a = (3,4,2,4,5,5)
print(a)

a[0] = 2

(3, 4, 2, 4, 5, 5)

TypeError: 'tuple' object does not support item assignment

**The `tuple()` Constructor**

In [128]:
# from a list
tuple1 = tuple(["apple", "banana", "cherry", "apple", "cherry"]) 
print(tuple1)

# from a range
tuple2 = tuple(range(10))
print(tuple2)

# from a set
my_set = {3,2,4}
print(my_set)
tuple3 = tuple(my_set)
print(tuple3)

('apple', 'banana', 'cherry', 'apple', 'cherry')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
{2, 3, 4}
(2, 3, 4)

**Value Changing**

Once a tuple is created, you cannot change its values, like appending and removing items. 

Tuples are **unchangeable, or immutable** as it also is called.

Thus, the only workaround is to create a new tuple if you want to change an item inside it.

In [35]:
a = (2, 3, 4, 5)

b = list(a)
b.append(6)
a = tuple(b)
print(a)

(2, 3, 4, 5, 6)

**Join**

In [129]:
a = (3,3,4)
b = (1,2,5)

print(a, b)
print(a+b) # the result is a new tuple

(3, 3, 4) (1, 2, 5)
(3, 3, 4, 1, 2, 5)

**Built-in Methods**

Method | Description
:------|:-----------
count() | Returns the number of times a specified value occurs in a tuple
index() | Searches the tuple for a specified value and returns the position of where it was found

In [38]:
a = (1, 2, 3, 4, 4, 5)
print(a.count(4))
print(a.index(4)) # the first time of appearence

2
3

#### 4. `range`

The `range()` function returns a sequence of numbers.
- starting from 0 by default, 
- increments by 1 (by default), 
- and stops before a specified number.

The syntax is as followed.

`range(start, stop, step)`

Parameter | Description
:------|:-----------
start | Optional. An integer number specifying at which position to start. Default is 0
stop | Required. An integer number specifying at which position to stop (**not included**).
step | Optional. An integer number specifying the incrementation. Default is 1`

**Examples**

In [131]:
a = range(2, 7) # same as a = range(2, 7, 1)
print(a)
print(list(a))
for x in a:
    print(x)

range(2, 7)
[2, 3, 4, 5, 6]
2
3
4
5
6

In [118]:
a = range(2, 7, 2)
for x in a:
    print(x)

2
4
6

### 2.1.3 Mapping Type

#### 1. `dict`

Dictionary is a collection which is **unordered**, **changeable** and **indexed**. **No duplicate key members**.

Each item in `dict` is some key/value pairs.

In python, dictionaries are written with curly brackets, and they have keys and values.

In [135]:
# key value pairs
my_dict = { 
    '3' : 'red',
    2 : 'blue',
    '1' : 'green',
    4 : 'white',
    (3,2,2) : 'black',
}
print(my_dict['1'])
print(my_dict['3'])
print(my_dict)

green
red
{'3': 'red', 2: 'blue', '1': 'green', 4: 'white', (3, 2, 2): 'black'}

**The `dict()` Constructor**

Use the `dict()` constructor to create a dictionary.

In [80]:
this_dict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(this_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Accessing Items**

In [83]:
x = this_dict['brand']
y = this_dict.get('model')

print(x, y)

Ford Mustang

**Change Values**

In [86]:
this_dict['year'] = 1965
print(this_dict['year'])

1965

**Iterate Through a Dictionary**

In [137]:
for x in this_dict: # same as for x in this_dict.keys()
    print(x, this_dict[x])

brand Ford
model Mustang
year 1965

In [89]:
for x in this_dict.keys():
    print(x, this_dict[x])

brand Ford
model Mustang
year 1965

In [90]:
for x in this_dict.values():
    print(x)

Ford
Mustang
1965

In [93]:
for x,y in this_dict.items(): # get the key/value pairs directly
    print(x, y)

brand Ford
model Mustang
year 1965

In [139]:
t = tuple(this_dict.keys())
print(t)

('brand', 'model', 'year')

**Adding Items**

Note that `update()` method can change the associated value of a key to the value of this key in the new dictionary.

In [144]:
def exponent_dict(items, power):
    result = dict()
    for x in items:
        # x = 2, power = 3
        # result[2] = 2**3 = 2*2*2
        result[x] = str(x**power)
    return result
    
dict1 = exponent_dict(range(2,5), 2)
dict2 = exponent_dict(range(4,8), 3)

print(dict1)
print(dict2)

dict1[1] = '1'  # add a new key/value pair
print(dict1)
dict1.update(dict2) # use another dictionary to update the current dictionary

print(dict1)

{2: '4', 3: '9', 4: '16'}
{4: '64', 5: '125', 6: '216', 7: '343'}
{2: '4', 3: '9', 4: '16', 1: '1'}
{2: '4', 3: '9', 4: '64', 1: '1', 5: '125', 6: '216', 7: '343'}

**Removing Items**

- The `pop()` method removes the item with the specified key name.
- The `del` keyword removes the item with the specified key name
- The `clear()` method empties the dictionary.

In [103]:
dict1.pop(2)
print(dict1)

del dict1[3]
print(dict1)

dict1.clear()
print(dict1)

{3: '9', 4: '64', 1: 1, 5: '125', 6: '216', 7: '343'}
{4: '64', 1: 1, 5: '125', 6: '216', 7: '343'}
{}

**Built-in Methods**

Method | Description
:------|:-----------
clear() | Removes all the elements from the dictionary
copy() | Returns a copy of the dictionary
fromkeys() | Returns a dictionary with the specified keys and value
get() | Returns the value of the specified key
items() | Returns a list containing a tuple for each key value pair
keys() | Returns a list containing the dictionary's keys
pop() | Removes the element with the specified key
popitem() | Removes the last inserted key-value pair
setdefault() | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update() | Updates the dictionary with the specified key-value pairs
values() | Returns a list of all the values in the dictionary

### 2.1.4 Set Types

#### 1. `set`

Set is a collection which is **unordered** and **unindexed**. **No duplicate members**.

The `set` is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

In [48]:
a = {5,2,8,9,9}
print(a)

a[0]

{8, 9, 2, 5}

TypeError: 'set' object does not support indexing

**The `set()` Constructor**

The `set()` constructor can also be used to create a `set`.

In [145]:
# from a list
set1 = set(["apple", "banana", "cherry", "apple", "cherry"]) 
print(set1)

# from a range
set2 = set(range(10))
print(set2)

# from a tuple
set3 = set((3, 2, 4, 2, 3))
print(set3)

{'banana', 'apple', 'cherry'}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4}

**Accessing Items**

In [52]:
this_set = {"apple", "banana", "cherry"}

for x in this_set:
    print(x)

print('\n', 'apple' in this_set)

banana
apple
cherry

 True

**Add Items**

- To add one item to a set use the `add()` method.
- To add more than one item to a set use the `update()` method.

In [148]:
this_set = {"apple", "banana", "cherry"}

this_set.add("orange")
print(this_set)

this_set.update(["apple", "banana", "orange", "mango", "grapes"])
print(this_set)

{'banana', 'orange', 'apple', 'cherry'}
{'banana', 'cherry', 'mango', 'grapes', 'orange', 'apple'}

**Delete Items**

- Use `remove()` to remove a specific item.
    -  If the item to remove does not exist, remove() will raise an error.
- Use `discard()` to discard a specific item.
    - If the item to discard does not exist, discard() will NOT raise an error.
- The `clear()` method empties the set.

In [151]:
my_set = set(range(5)) # data structure
print("The original set is: ", my_set)

my_set.remove(2)
# my_set.remove(2)
print(my_set)

my_set.discard(2)
my_set.discard(3)
print(my_set)

my_set.clear()
print(my_set)

The original set is:  {0, 1, 2, 3, 4}
{0, 1, 3, 4}
{0, 1, 4}
set()

The `del` keyword will delete the set completely.

In [59]:
a = set([3,2])
del a
print(a)

NameError: name 'a' is not defined

**Join Two Sets**

- The `union()` method returns a new set containing all items from both sets. 
- The `update()` method inserts all the items from one set into another.

In [154]:
a = {1, 2, 3}
b = {3, 4, 5}

c = a.union(b)
print(a)
t = a.update(b) # The Function of update() doesn't return anything, thus t is None.
print(a)

{1, 2, 3}
{1, 2, 3, 4, 5}

**Built-in methods**

Method | Description
:------|:-----------
add() | Adds an element to the set
clear() | Removes all the elements from the set
copy() | Returns a copy of the set
difference() | Returns a set containing the difference between two or more sets
difference_update() | Removes the items in this set that are also included in another, specified set
discard() | Remove the specified item
intersection() | Returns a set, that is the intersection of two other sets
intersection_update() | Removes the items in this set that are not present in other, specified set(s)
isdisjoint() | Returns whether two sets have a intersection or not
issubset() | Returns whether another set contains this set or not
issuperset() | Returns whether this set contains another set or not
pop() | Removes an element from the set
remove() | Removes the specified element
symmetric_difference() | Returns a set with the symmetric differences of two sets
symmetric_difference_update() | inserts the symmetric differences from this set and another
union() | Return a set containing the union of sets
update() | Update the set with the union of this set and others

![Python-Set-Operatioons](./figure/Python-Set-Operations.png)

In [163]:
# Return a set that contains the items that only exist in set x, and not in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(x, y)
print(y.difference(x))
print(z)


# The difference_update() method removes the items that exist in both sets.
print(x)
x.difference_update(y)
print(x)

print('\n' + '#' * 20 + '\n')

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print(x.intersection(y))

{'banana', 'apple', 'cherry'} {'google', 'apple', 'microsoft'}
{'google', 'microsoft'}
{'banana', 'cherry'}
{'banana', 'apple', 'cherry'}
{'banana', 'cherry'}

####################

{'apple'}

In [70]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

print(x.issubset(y))

print(x.intersection(y))

True
{'c', 'b', 'a'}

### 2.1.5 Boolean Type

### 2.1.6 Binary Types

## 2.2 Mutable & Immutable Objects

## 2.2 Assignment, Shallow Copy, Deep Copy